<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PersonController</servlet-name>
        <servlet-class>com.controllers.PersonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyListener</servlet-name>
        <servlet-class>com.jdbc.MyListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonController</servlet-name>
        <servlet-class>com.controllers.JsonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporterController</servlet-name>
        <servlet-class>com.controllers.ReporterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsController</servlet-name>
        <servlet-class>com.controllers.NewsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonController</servlet-name>
        <url-pattern>/PersonController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyListener</servlet-name>
        <url-pattern>/MyListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonController</servlet-name>
        <url-pattern>/JsonController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporterController</servlet-name>
        <url-pattern>/ReporterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsController</servlet-name>
        <url-pattern>/NewsController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
